extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam dicta labore numquam quidem id minima veritatis voluptatum nisi voluptates repellat aperiam sapiente quia quasi eveniet eius est iure, ipsam, reprehenderit earum maiores.

                p Sit, accusamus nesciunt, error aliquam fuga dolores id ad libero, delectus nemo facere sequi possimus velit maxime dolor? Earum minus, labore vitae sint non facilis voluptatem totam voluptas optio obcaecati quo sunt rem, velit eos laborum culpa distinctio. Cupiditate, voluptates quis! Consequuntur reprehenderit beatae eligendi distinctio laudantium nulla exercitationem quaerat sequi labore voluptatem non reiciendis veritatis odit eaque voluptates, omnis magnam doloremque!

                p Consectetur adipisicing elit. Omnis veniam, ducimus delectus laudantium doloribus at voluptate molestiae optio, accusantium, repudiandae similique quos libero eum assumenda dignissimos et iure quidem ipsam expedita dolore cumque facere! Corrupti inventore id quasi ratione.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sit, accusamus nesciunt, error aliquam fuga dolores id ad libero, delectus nemo facere sequi possimus velit maxime dolor? Earum minus, labore vitae sint non facilis.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Sit, accusamus nesciunt, error aliquam fuga dolores id ad libero, delectus nemo facere sequi possimus velit maxime dolor? Earum minus, labore vitae sint non facilis.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Precios Mas Competitivos
                    p Sit, accusamus nesciunt, error aliquam fuga dolores id ad libero, delectus nemo facere sequi possimus.
